@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}



/* HOME PAGE */



/* Perubahan navbar ketika di scroll */
.navbar-fixed {
    @apply fixed z-[9999] bg-opacity-90;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgb(0, 0, 0, 0.2);
}

/* Garis pada Tombol Menu */
.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

/* Perubahan hamburger */
.hamburger-active > span:nth-child(1) {
    @apply -rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply rotate-45;
}



/* ADMIN PAGE */



/* Perubahan hamburger*/
.hamburger-active-dashboard > span:nth-child(2) {
    @apply ms-2;
}

/* Perubahan Main */
.expand-main {
    @apply md:w-[calc(100%-95px)];
}

.contract-main {
    @apply md:w-[calc(100%-20rem)];
}

/* Perubahan Main Content */
.expand-content {
    @apply md:px-24;
}

.contract-content {
    @apply md:px-9;
}

/* Perubahan di Admin Option */
.rotate-triangle {
    @apply rotate-180;
}

/* Perubahan di Sidebar */
.selected-menu {
    @apply bg-primary hover:bg-opacity-80;
}

.unselected-menu {
    @apply hover:bg-light hover:bg-opacity-30;
}

.list-item.selected {
    @apply bg-slate-300 bg-opacity-30;
}

/* Input Readonly */
.readonly {
    @apply bg-[#afcbeb];
}



/* FORM PAGE */



/* Form Service-Rate */
.unselected-selection {
    @apply text-dark;
}

.selected-selection {
    @apply bg-dark text-white;
}